body{
    background-image: url("../images/cool-background.png");
    background-size: cover;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: bold;
}

h1{
    color: darkorchid;
    padding: 10px;
    text-align: center;
}

.instructions{
    color: mediumslateblue;
    font-size: 20px;
    margin: 20px;
}

.guessTally{
    color: blueviolet;
    font-size: 25px;
    margin: 20px;
}

.crystals{
    margin: 20px;
    width: auto;
} 

.pic{
    width: 200px; 
    height: 150px;
    margin: 20px; 
}

.score{
    margin: 20px;
    color: blueviolet;
    font-size: 30px;
}

